//- MERLE
//- SHEY SHEY
mixin social_bar(texto,tema,imagen)
	.barra
		ol.list-inline.list-unstyled
			li
				img(src='assets/image/social_sprite3.png')
			li
				img(src='assets/image/bullet.gif')
			li
				small= texto
			li
				img(src='assets/image/bullet.gif')
			li
				p= tema
			li
				img(src= imagen)

mixin grid_main(imagen,texto,formato)
	.about_grid
		img(src=imagen)
		a(href='#')
			h4=texto
		h4=formato

mixin columnista(imagen,nombre,titulo)
	.img-thumbnail
		img(src=imagen)
		.caption
			p=nombre
			h4=titulo
//- //- ROSARIO